*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.shopping-cart-bg{
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.shopping-cart{
  width: 80vw;
  height: 100vh;
  background-color: #dad3f7;
  padding: 10px 30px;
  overflow: auto;
  margin: auto;
}
h1{
  text-align: center;
  font-size: 40px;
}
button{
  cursor: pointer;
}
::-webkit-scrollbar{
  display: none;
}